<h1>Paris, France</h1>

<section>
  <div>
    <img class ="cities" src = "assets/images/paris.jpg">
    <h4>Check the weather in Paris by ZIP</h4>
      <input [(ngModel)]="zip" type="text" placeholder="Zip Code Here(Works only with USA Zips)" (keyup)="findWeather(zip)" />
    <div *ngIf="weather">
      <h3>Weather in Paris:</h3>
      <p>Currently {{weather.weather[0].description}}.</p>
      <p>High of {{weather.main.temp_max}} Low of {{weather.main.temp_min}} Degrees.</p>
    </div>
  </div>

  <aside>
    <h3>City Reviews</h3>
    <input [(ngModel)]="account.name" (ngModelChange)="onChanges()" placeholder="Search by Name">
    <pre *ngIf="account.name === 'Dumbledore'">{{currentAccount|json}}</pre>
    <pre *ngIf="account.name === 'Ron'">{{currentAccount|json}}</pre>
    <pre *ngIf="account.name === 'Harry'">{{currentAccount|json}}</pre>
    <pre *ngIf="account.name === 'Hermione'">{{currentAccount|json}}</pre>
    <div class ="post" *ngFor="let i of commentsArray">
      <a routerLink="/cities/{{i.name.toLowerCase()}}">{{i.name}}</a>
      <img class="avatar" src="{{i.avatar}}">
      <p> {{i.text}}</p>
    </div>
  </aside>
  <router-outlet></router-outlet>
</section>
<section class ="submitComments">
<form action="" class="postName">
  Name: <input type="text" maxlength="25" name="username" [(ngModel)]="username">
</form>
<textarea class="postComment" rows="4" cols="50" maxlength="200" placeholder="Comment(Check console)" [(ngModel)]="comment"></textarea><br>
  <button type="button" (click)="clickMe(username, comment)">Submit</button>
</section>
