<h1>Paris, France</h1>

<section>
  <div>
    <img class ="cities" src = "assets/images/paris.jpg">
  </div>

  <aside>
    <h3>City Reviews</h3>
    <input [(ngModel)]="account.name" (ngModelChange)="onChanges()">
    <pre *ngIf="account.name === 'Dumbledore'">{{currentAccount|json}}</pre>
    <pre *ngIf="account.name === 'Ron'">{{currentAccount|json}}</pre>

    <div class ="post" *ngFor="let i of commentsArray">
      <p> {{i.name}}</p>
      <img class="avatar" src="{{i.avatar}}">
      <p> {{i.text}}</p>
    </div>
  </aside>
</section>

