<h1>Wayfarer Travel</h1>
<nav>
  <a routerLink="/">Home</a>
  <a routerLink="/cities">Cities</a>
</nav>

<div class ="headerimg"><img src = "assets/images/travel.jpg"></div>


<ul class ="ulText">
  <div>
    <li>What is Wayfarer</li>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation </p>
        <p>ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <div>
    <li>Booking With Us</li>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation </p>
      <p>ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>

  <div>
    <li>Offices</li>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation </p>
    <p>ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</ul>

<router-outlet></router-outlet>


<!--<footer>-->
<!--  Footer information-->
<!--</footer>-->
